<div class="container">
    <br>
    <div class="row">
        {% if site.data.data.sidebar.language == "eng" %}
        <div class="col">
            <button type="button" class="btn btn-dark">English</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary">Polish</button>
        </div>
        {% else %}
        <div class="col center-block">
            <button type="button" class="btn btn-secondary">Angielski</button>
        </div>
        <div class="col center-block">
            <button type="button" class="btn btn-dark ">Polski</button>
        </div>
        {% endif %}
    </div>
</div>